.navbar-wrap {
  width: 280px;
  min-width: 280px;
  background: #030629;
  overflow-y: auto;
  min-height: 100%;
  color: #e5e5e5;
  .close {
    display: none;
  }
  .logo-wrap {
    display: flex;
    cursor: pointer;

    // justify-content: center;
    align-items: center;
    padding-top: 17px;
    padding-left: 20px;
    padding-bottom: 17px;
    .name {
      margin-top: 4px;
      margin-left: 15px;
    }
    border-bottom: 1px solid #0b5079;
  }
  ul {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    padding-top: 32px;
    // line-height: 290%;
    letter-spacing: 0.07em;
    .active {
      background: #182d5a;
    }
    li {
      cursor: pointer;
      margin-bottom: 20px;

      // padding-left:21px;
      display: flex;
      //  justify-content: center;
      align-items: center;

      a,
      div {
        display: flex;
        align-items: center;
        padding: 10px;
        padding-right: 0;
        width: 100%;
        height: 100%;
        color: #e5e5e5;
        text-decoration: none;
      }
      .icon-wrap {
        width: 50px;
      }
      img {
        width: 25px;
      }
      .lottery {
        margin-top: 5px;
      }
      &:hover {
        background: #182d5a;
      }
    }
  }
  .connect-wallet-wrap {
    padding: 15px 0;
    border: 1px solid #0b5079;
    border-left: 0;
    border-right: 0;
  }
  .connect-wallet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #4dd9f6;
    border-radius: 12px;
    height: 40px;
    margin: 0 20px;
    padding-right: 17px;
    padding-left: 15px;

    cursor: pointer;
    p {
      font-family: Nunito;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #080b3a;
    }
    &:hover {
      filter: brightness(1.1);
    }
  }
}

@media screen and (max-width: 768px) {
  .opened-nav {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    padding-bottom: 20px;
    .nav-content {
      border-top: 1px solid #0b5079 !important;
      display: block !important;
    }
  }
  .navbar-wrap {
    z-index: 10;
    background: #030629; //TODO transparetn
    ul li div,
    a {
      padding: 6px;
    }
    .logo-wrap {
      display: inline-block;
      border: 0;
    }
    .nav-content {
      display: none;
    }
    .hide {
      display: none;
    }
    .show {
      display: block;
    }

    width: 100%;
    min-height: unset;
    .close {
      cursor: pointer;
      display: block;
      position: absolute;
      top: 28px;
      right: 20px;
    }
  }
}
