.connect-wallet-popup {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  // height: 314px;
  width: 350px;

  .modal-title {
    flex: 1;
  }
  .modal-header {
    border-bottom-color: #00000016 !important;
    padding: 0 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  .modal-content {
    border-radius: 2rem;
    background-color: #add8e6;
    height: 126px;
  }
  .connect-wallet-row {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
    align-items: center;
    background: #fff;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 1rem;
  }

  .connect-wallet-row:active {
    border: 1px solid blue;
  }

  .connect-wallet-row.disabled {
    background-color: lightgray;
  }

  .connect-wallet-row.disabled:active {
    border: none;
  }
  .logo {
    width: 2rem;
    height: 2rem;
  }
}

.notification {
  z-index: 10000;
}

.main {
  position: relative;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-family: Nunito;
  font-style: normal;

  .main-container {
    background-image: url(assets/imgs/BG.svg);
    background-size: contain;
    background-color: #000d36;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    background: #000d36;
    background: linear-gradient(to top, #000d36, #2f4a7c);
    text-align: center;
    margin: auto;
    height: 100%;
    width: 100%;
    overflow-y: auto;
  }
}

.clear-both {
  clear: both;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-sb {
  justify-content: space-between !important;
}

.lq-button {
  border-radius: 12px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    filter: brightness(1.2);
  }
}

.blue-button {
  background: #4dd9f6;
  color: #080b3a;
}
.navy-button {
  background: #030629;
  color: #4dd9f6;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.lqdr-blue {
  color: #4dd9f6;
}

.lqdr-navy {
  color: #030629;
}
