
.notification {
  z-index: 10000;
}

.main {
  position: relative;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-family: Nunito;
  font-style: normal;

  .main-container {
    background-image: url(assets/imgs/BG.svg);
    background-size: contain;
    background-color: #000d36;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    background: #000d36;
    background: linear-gradient(to top, #000d36, #2f4a7c);
    text-align: center;
    margin: auto;
    height: 100%;
    width: 100%;
    overflow-y: auto;
  }
}

.clear-both {
  clear: both;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-sb {
  justify-content: space-between !important;
}

.lq-button {
  border-radius: 12px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    filter: brightness(1.2);
  }
}

.blue-button {
  background: #4dd9f6;
  color: #080b3a;
}

.grey-button {
  background: #ccc;
  color: #080b3a;
}

.navy-button {
  background: #030629;
  color: #4dd9f6;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.lqdr-blue {
  color: #4dd9f6;
}

.lqdr-navy {
  color: #030629;
}

html,
body,
#root,
.main {
  min-height: 100%;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
}

@media screen and (max-width: 768px) {
  html,
  body,
  #root,
  .main {
    min-height: unset;
    height: unset;
    -webkit-transform: translate3d(0, 0, 0);
  }
  .main {
    display: block;
    min-height: 100%;
    height: 100%;
    .main-container {
      min-height: 100%;
      // overflow-y: unset;
    }
  }
}

::-webkit-scrollbar {
  width: 0.3em;
}
 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: #0b5079;
}